<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449983540612-4i7fd4nipen72ljvuo3spgkvbd8c6vt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449983540612-4i7fd4nipen72ljvuo3spgkvbd8c6vt0</string>
	<key>API_KEY</key>
	<string>AIzaSyC6IAGM4N_y9W_EuitRM-ecfMNyJcRfnTo</string>
	<key>GCM_SENDER_ID</key>
	<string>449983540612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jackson.IOS-DEV</string>
	<key>PROJECT_ID</key>
	<string>movieapp-d90a6</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-d90a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449983540612:ios:59dd46a1d3df76f0f681d1</string>
</dict>
</plist>